<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.akiteam.demo.mapper.AuctionMapper">
    <resultMap id="AuctionRecordsResultMap" type="com.akiteam.demo.pojo.AuctionRecords">
        <result column="goods_name" property="goodsName"></result>
        <result column="auction_num" property="auctionNum"></result>
        <result column="auction_price" property="auctionPrice"></result>
        <result column="auction_time" property="auctionTime"></result>
    </resultMap>

    <resultMap id="PassengerFlowAndSalesVolumeMap" type="com.akiteam.demo.pojo.PassengerFlowAndSalesVolume">
        <result column="passenger_flow" property="passengerFlow"></result>
        <result column="sales_volume" property="salesVolume"></result>
    </resultMap>

    <resultMap id="getGoodsInfoResultMap" type="com.akiteam.demo.entity.GoodsInfo">
        <result column="id" property="id"></result>
        <result column="goods_name" property="goodsName"></result>
        <result column="total" property="total"></result>
        <result column="price" property="price"></result>
        <result column="type" property="type"></result>
        <result column="start_time" property="startTime"></result>
        <result column="end_time" property="endTime"></result>
        <result column="status" property="status"></result>
        <result column="operation" property="operation"></result>
    </resultMap>

    <select id="getAllAuctionInfo" resultMap="AuctionRecordsResultMap">
        select * from auction_info
    </select>

    <insert id="insertAuctionInfo">
        INSERT INTO auction_info
            (goods_name, auction_num, auction_price, auction_time, auction_user_id, remark)
        VALUES
            (#{goodsName},#{auctionNum},#{auctionPrice},#{auctionTime},#{auctionUserId},#{remark});
    </insert>

    <select id="getInformation" resultType="com.akiteam.demo.pojo.GetInformation">
        select id,title from remind_info
        <where>
            user_id = #{userId} and status = #{status}
        </where>
    </select>


    <update id="changeInfoStatus">
        UPDATE remind_info
        <set>
            status = 1
        </set>
        <where>
            user_id = #{userId}
        </where>
    </update>

    <select id="getGoodsInfo" resultMap="getGoodsInfoResultMap">
        select * from goods_info
        <where>
            <if test="goodsName != null">
                and goods_name like concat('%',#{goodsName},'%')
            </if>
        </where>
    </select>

    <select id="getPassengerFlowAndSalesVolume" resultMap="PassengerFlowAndSalesVolumeMap">
        with a as
        (
        select count(login_time) as passenger_flow from user_info 
        <where>
            login_time >= NOW() - INTERVAL '${timeNode}' MINUTE and login_time <![CDATA[<=]]> NOW()
        </where>    
        )
        SELECT a.passenger_flow,SUM(auction_info.auction_price) as sales_volume from a,auction_info 
        <where>
            auction_info.auction_time >= NOW() - INTERVAL '${timeNode}' MINUTE and auction_info.auction_time <![CDATA[<=]]> NOW() group by passenger_flow
        </where>
    </select>


    <select id="getMaxQuoteAmount" resultType="java.lang.Integer">
        WITH a as
            (
                SELECT SUM(auction_num * auction_price) AS price,auction_user_id FROM auction_info GROUP BY auction_user_id
            )
        select MAX(price) from a
    </select>

    <select id="getQuoteAmountRank" resultType="java.lang.Integer">
        WITH b as(
            WITH a as
                     (
                         SELECT SUM(auction_num * auction_price) AS price,auction_user_id FROM auction_info GROUP BY auction_user_id
                     )
            SELECT *,RANK() OVER (ORDER BY price DESC) AS ranking FROM a
        )
        SELECT ranking FROM b
            <where>
                auction_user_id = #{userId}
            </where>
    </select>
</mapper>

